

/*Left Section*/
.login-left{
    float: left;
    background-image: url('loginleft.jpg');
    height: 714px;
    width: 380px;
}
/*Right Section*/
.login-right{
    float:right;
    
}
.login-right h1{
    font-size: 75px;
    /* text-align: center; */
    margin: 6px 399px;
    font-family: 'Black Ops One', cursive;
}
.login-right h6{
    margin: 0px 442px;
    font-size: 15px;
}
.login-right img{
    margin: 13px 448px;
    height: 155px;
    width: 155px;
}

.btn {
    border: solid 2px black;
    padding: 12px 12px;
    border-radius: 16px;
    color: black;
    background-color: white;
    cursor: pointer;
    width: 133px;
    text-decoration: none;
    display: inline-block;
    line-height: 19px;
}

.btn:hover {
    background-color: black;
    color: white;
}



.user{
    box-sizing: border-box;
    margin: 0px 276px;
    padding: 52px 53px;
    border: solid 2px black;
    height: 377px;
    width: 465px;
    border-radius: 15px;
}
.user input{
    padding: 8px 45px;
    margin: 12px 13px;
    border-radius: 15px;
}
/*Footer*/
.foot{
    z-index:1;
    border-top-left-radius:60px ;
    clear:both;
    background-color: #000000;
    color:white;
    display: flex;
    flex-direction: row;
    margin:25px 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 35px 0 30px;
}
.list{
   
    margin: 0px 50px;
    padding: 0px 56px;
}
.list h2{
    border-bottom: solid 4px white;
}
.list ul li{
    border-bottom: dotted 2px white;
    margin:16px 0px;
    padding: 0px 0px;
}
.list ul li a{
    text-decoration: none;
    color: white;
}
.list ul li a:hover{
    text-decoration: underline;
}